[data-ng\:cloak], [data-ng-cloak], .ng-cloak {
	display: none !important;
}

a, a:hover, a:visited {
	color: $link-color !important;
	text-decoration: underline !important;
}

h1 {
	text-align: center;
}

body {
	background-color: black !important;
	//background-image: url("../images/logo.jpg");
	color: $base-text-color;
	/*
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-position-x: center;
	background-size: 20%;
	padding-bottom: 300px;*/
}

.header-container {
	border-bottom: 5px solid $base-text-color !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}

@media only screen and (max-width: 480px) {
	.title, h1 {
		font-size: 2em;
	}
}

.col-xs-12.col-lg-4.left-row {
	text-align: center;
}

.btn {
	background: #000 !important;
	color: #fff !important;
	border: 1px solid #fff !important;
}

.footer-container {

	border: none!important;
	padding: 0;
	text-align: center;
	.wrapper {
		/*background-image: url("../images/logo.jpg");
		background-repeat: no-repeat;
		background-position-y: bottom;
		background-position-x: center;
		background-size: 28%;
		height: 315px;*/
	}
}
