$primary-color: black;
$base-text-color: #ffef00;
$primary-color-accent: $base-text-color;
$highlighted: #b3d4fc;
$divider-color: #333;
$box-shadow: $primary-color-accent;
$border-blockquote: #999;
$list-item-color: $base-text-color;
$text-color: $base-text-color;
$input-label-length: 30%;
$event-category-box-color: #fff;
$link-color: #fff;