.row a {
  margin: auto; }

.button-col {
  text-align: center;
  margin-bottom: 15px; }
  .button-col p {
    padding: 10px 20px; }

.inner-tag {
  cursor: pointer; }
  .inner-tag p {
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    background-color: deepskyblue; }
  .inner-tag p.selected {
    background-color: forestgreen; }

.form-horizontal button {
  width: 100%; }

.form-col {
  background-color: white;
  margin-bottom: 15px; }

.form-row {
  margin-left: 0;
  margin-right: 0; }
  .form-row .form-group {
    margin: 5px 0 0 0; }
    .form-row .form-group .form-control.error {
      border: 1px solid red;
      border-radius: 7px; }
