<div class="event-detail-body">
    <p data-ng-show="isError">{{errorMsg}}</p>
    <div class="row description-body">
        <div class="col-xs-12 col-lg-4 left-row">
            <a href="#/events" class="back-btn"><img data-ng-src="{{getImagePath('back.png')}}" alt="back button">Übersicht</a>
            <img data-ng-src="{{ event.picture && getImagePath(event.picture) }}" alt="event image">
            <a href="javascript:void(0)" class="btn btn-raised btn-success"><span class="glyphicon glyphicon-plus"></span> Teilnehmen</a>
            <p data-ng-show="event.category.length > 0" class="event-category">{{event.category}}</p>
        </div>

        <div class="col-xs-12 col-lg-8 right-row well panel panel-default">
            <div class="panel-body">


            <h1>{{event.name}}</h1>
            <p class="event-time">
                <span class="glyphicon glyphicon-time"></span>
                {{event.startTime| date: 'HH:mm'}} - {{event.endTime| date: 'HH:mm'}}
                <span data-ng-show="event.period">Alle {{event.period}} Minuten</span>
            </p>
            <p class="event-location"><span class="glyphicon glyphicon-pushpin"></span> {{event.location}}</p>

            <div class="event-sponsors">
                <span class="glyphicon glyphicon-user"></span>
                <span data-ng-repeat="sponsor in event.sponsor" class="sponsor">
                    <a data-ng-show="sponsor.url.length > 0" target="_blank" data-ng-href="{{sponsor.url}}">{{sponsor.name}}</a>{{$last ? '' : ', '}}
                    <span data-ng-show="!sponsor.url">{{sponsor.name}}{{$last ? '' : ', '}} </span>
                    </span>
            </div>
            <h3>Beschreibung</h3>
            <p class="event-description">{{event.description}}</p>
            <div class="tags">
                <span data-ng-repeat="tag in event.tags" class="tag">
                    {{tag}}
                </span>
            </div>

        </div>
        </div>
    </div>
</div>
