<div class="interests-body">
    <div data-ng-show="!isLoggedIn()">
        <div class="row" data-ng-show="!loginActive">
            <div class="col-lg-12 button-col">
                <button data-ng-click="enableLogin()" class="btn btn-raised btn-success">Login</button>
            </div>

        </div>
        <div class="row form-row" data-ng-show="loginActive && !registrationActive">
            <div class="col-xs-12 form-col">
            <div class="form-horizontal">
                <div class=" col-xs-12 col-md-6 form-group is-empty">
                    <label for="inputUsernameLogin" class="col-md-2 control-label">Email</label>

                    <div class="col-md-10">
                        <input data-ng-model="username" class="form-control {{loginFormError ? 'error' : ''}}" id="inputUsernameLogin" placeholder="Email" type="email">
                    </div>
                    <span class="material-input"></span>
                </div>
                <div class=" col-xs-12 col-md-6 form-group is-empty">
                    <label for="inputPasswordLogin" class="col-md-2 control-label">Password</label>

                    <div class="col-md-10">
                        <input data-ng-model="password" class="form-control {{loginFormError ? 'error' : ''}}" id="inputPasswordLogin" placeholder="Password" type="password">
                    </div>
                    <span class="material-input"></span>
                </div>
                <div class="{{(invalidCredentials || loginFormError)? '' : 'invisible'}} col-xs-12 col-lg-6 alert alert-danger text-center">
                    {{
                    (invalidCredentials && "Benutzername oder Password nicht gültig") ||
                    (loginFormError && "Bitte Benutzername und Password angeben")
                    }}
                </div>
                <div class="col-xs-12 col-lg-2 col-lg-offset-4">
                    <button data-ng-click="login()" class="btn btn-raised btn-success">Login</button>
                </div>
            </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-xs-12 button-col">
                <p class="panel panel-default clearfix"> - OR CHOOSE YOUR INTERESTS - </p>
            </div>
        </div>
    </div>
    <div class="row interests-container">
        <div data-ng-repeat="tag in tags" data-ng-click="toggleTagSelection(tag.name)" class="interest-list-item col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="inner-tag">
                <p class="panel panel-info {{tagIsSelected(tag.name)}}">{{tag.name}}</p>

            </div>
        </div>
    </div>


    <div class="row" data-ng-show="!registrationActive || noTagSelected()">
        <div class="col-lg-12 button-col">

            <button data-ng-show="isLoggedIn()" data-ng-click="goToEvents(true)"  class="btn btn-raised btn-success {{noTagSelected() ? 'disabled' : ''}}">Weiter</button>
            <button data-ng-show="!isLoggedIn()" data-ng-click="goToEvents(false)" class="btn btn-raised btn-success {{noTagSelected() ? 'disabled' : ''}}">Weiter</button>
        </div>
        <div data-ng-show="isLoggedIn()" class="col-xs-12 col-lg-2 col-lg-offset-0">
            <button data-ng-click="logout()" class="btn btn-raised btn-success">Logout</button>
        </div>

    </div>
    <div class="row form-row" data-ng-show="registrationActive && !loginActive && !noTagSelected()">
        <div class="col-xs-12 form-col">
            <div class="form-horizontal">
                <div class=" col-xs-12 col-md-6 form-group is-empty">
                    <label for="inputUsernameRegistration" class="col-md-2 control-label">Email</label>

                    <div class="col-md-10">
                        <input data-ng-model="username" class="form-control {{registerFormError ? 'error' : ''}}" id="inputUsernameRegistration" placeholder="Email" type="email">
                    </div>
                    <span class="material-input"></span>
                </div>
                <div class=" col-xs-12 col-md-6 form-group is-empty">
                    <label for="inputPasswordRegistration" class="col-md-2 control-label">Password</label>

                    <div class="col-md-10">
                        <input data-ng-model="password" class="form-control {{registerFormError ? 'error' : ''}}" id="inputPasswordRegistration" placeholder="Password" type="password">
                    </div>
                    <span class="material-input"></span>
                </div>
                <div class="{{(userAlreadyExistError || registerFormError )? '' : 'invisible'}} col-xs-12 col-lg-6 alert alert-danger text-center">
                    {{
                        (userAlreadyExistError && "Der Benutzername wird bereits verwendet, sorry :(") ||
                        (registerFormError && "Bitte Benutzername und Password angeben")
                    }}
                </div>
                <div class="col-xs-12 col-lg-2 col-lg-offset-1">
                    <button data-ng-click="goToEvents(true)" class="btn btn-raised btn-warning">Nein danke</button>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <button data-ng-click="register()" class="btn btn-raised btn-success">Save your interests</button>
                </div>
            </div>
        </div>

    </div>
</div>