
img {
  max-width:100%;
}



.img-container {
    display: inline-block;
    position: relative;
    width: 100%;
  }
.dummy {
  margin-top: 75%; /* 4:3 aspect ratio */
}
.img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.event-list-item {
  margin-bottom:15px;
  .row {
    margin-left:0;
    margin-right:0;
  }
  .inner-event {
    background-color:white;
    a {
      display:flex;
      align-items: center;
      color:#333;
      text-decoration: none;
    }
  }
}